*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
 
}
body{
    height: 1fr;
}
  .container{
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
    "side-bar header"
    "side-bar main";
  }

  .side-bar{
    background-color: #0284c7;
    grid-area: side-bar;
    color: white;
    font-weight: bold;
  }

  .main{
    background-color: gray;
    grid-area: main;
  }

  .side-bar-content{
    
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 100px);
    gap: 2px;

  }

  .side-bar-item{
    
    margin-left:30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    
  }

  svg{
    margin-right: 20px;
    
  }

  .header{
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #334155;
  }
 

  .header-barra-busqueda{
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-barra-busqueda > button{
    border-radius: 5px;
    border: none;
    
  }

  .header-notificaciones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
  

  }

  .header-notificaciones > img{
    overflow: hidden;
    border-radius: 90%;
    width: 70px;
    margin-right: 40px;
    margin-left: 40px;
   
  
  }
  .header-barra-busqueda > input {
    border-radius: 10px;
    border: none;
    background-color: #d6eaf4;
    width: 60%;
  }

  .header-usuario{
    display: grid;
    grid-template-columns: 2fr 1fr;

    
  }

  .header-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
  }

 .header-botones > button{
  background-color: #0284c7;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 180px;
  font-weight: bold;
  border-radius: 15px;
  border: none;

 }
  

  .main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
     "main-projects main-news"
     "main-projects main-trending";                   
  }

  .main-projects{
    background-color: #d6eaf4;
    grid-area: main-projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap:40px;
    margin: 10px;
    
  }

  .main-projects-card{
    width: 500px;
    height: 200px;
    background-color: pink;
    border: solid 1px black;
    margin-left: 60px;
    margin-right: 10px;
    margin-bottom: 10%;
    
    
  }

  .main-news{
    background-color: yellowgreen;
    grid-area: main-news;
  }

  .main-trending{
    background-color: brown;
    grid-area: main-trending;
  }


/* 
  #0284c7 tono azul
  #334155 tono gris oscuro
  #047857 tono verde esmeralda
  */